@font-face {
    font-family: 'Lobster';
    src: url(../fonts/Lobster1.4.otf);
}

.title-area h1{
	font-family: 'Lobster';
}

.catalogue{
	margin-top: 1em;
	display: block;
}

.catalogueRow{
	display: table-row;
}

.catalogueEntry{

	position: relative;
	overflow: visible;
	margin-bottom: 2em;
}

.catalogueEntry:hover{
	opacity: 0.9;
}

.cataItem{
	color: rgb(10,10,10);
	background-color: rgb(230,230,230);
	border: 2px solid rgb(12, 136, 183);
	border-radius: 0.2em;
	height: 100%;
	padding: 0 0 2.5em;
	margin: 0;
	
}

.cataItem img{
	margin: auto;
	position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    height: auto;
    opacity: 0.2;
}

.cataItem h4, .cataItem ul{
	z-index: 2;
	position: relative;
}

.cataItem h4{
	font-family: 'Amaranth';
	text-align: center;
	color: rgb(40,40,40);
	border-bottom: 2px solid rgb(12, 136, 183);
}

.cataItem ul{
	list-style-type: none;
}

.cataItemSpecTitle{
	font-family: 'Amaranth';
	background-color: rgb(12, 136, 183);
	border-radius: 0 0.2em;
	color: rgb(255,255,255);
	padding: 0 0.3em;
}

.price{
	text-align: center;
	position: absolute;
	font-family: 'Lobster';
	color: rgb(255,255,255);
	bottom: 0;
	left: 0;
	right: 0;
	width: 87%;
	height: 17%;
	border-top: 2px solid rgb(12, 136, 183);
	background-color: rgb(12, 136, 183);
	margin: 0 auto;
}

.price p{
	margin-top: 0.2em;
}

.cataItemSpec{
	font-size: 0.85em;
}

.cataItemName{
	font-size: 1.1em;
}

#filterButton{
	font-family: 'Lobster';
	font-size: 2em;
	padding: 0.2em 0;
	background-color: rgb(12, 136, 183);
	border-radius: 0.2em;
	width: 100%;
}

#filterButton:hover{
	background-color: rgb(54, 159, 199);
}

.indentBox{
	padding: 0;
	box-shadow: inset 0 0 2px rgb(0,0,0);
	margin-bottom: 1em;
	border-radius: 0.2em;
	background-color: rgb(230,230,230);
}

#filterBar{
	margin-top: 1em;
	margin-bottom: 1em;
}

.filterBox{
	margin: 2em 0;
	text-align:center;
	border: 2px solid rgb(12, 136, 183);
	border-radius: 0.2em;
	height: 65%;
}

.filterHeader{
	display: inline-block;
	position: relative;
	top: -1.5em;
  	background-color: rgb(230,230,230);
}

.filterHeader > div > h3{
	font-family: 'Lobster';
	color: rgb(12, 136, 183);
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.filterContent{
	font-family: 'Amaranth', sans-serif;
	position: relative;
	top: -1.5em;
	text-align: left;
}

.filterContent input[type=checkbox] {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

input[type=checkbox]:checked + label {
   background-color: rgb(54, 159, 199);
   color: rgb(255,255,255);
   margin: 0.2em 0 0 0;
   text-align: left;
}

input[type="checkbox"] + label{
	margin: 0.2em 0 0 0;
}

.filterContent label, .filterContent p{
	font-size: 1em;
	color: rgb(77,77,77);
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
}

.filterContent label{
	background-color: rgb(5, 97, 132);
	padding: 0 0.2em;
	color: rgba(255,255,255,0.7);
	border-radius: 0.3em;
	margin: 0;
	text-align: left;
}

.filterContent label:hover{
	background-color: rgb(103, 188, 221);
	color: rgba(255,255,255,0.8);
}

input[type=checkbox]:checked + label:hover{
	background-color: rgb(3, 65, 89);
	color: rgba(255,255,255,0.8);
}

.filterContent p{
	margin: 0 0 0 0.3em;
	text-align: center;
}


.filterSubheader{
	border-right: 1px solid rgb(77,77,77);
}

.filterOptionRow{
	padding-bottom: 0.5em;
}

.range-slider{
	margin: 0.4em 0 0;
	width: 90%;
}

.range-slider-active-segment{
	background-color: rgb(54, 159, 199);
}

.range-slider-handle{
	color: rgb(255,255,255);
	text-align: center;
	line-height: 1.3;
}

#screen_res_output{
	width: 3.2em;
}

#min_price, #max_price{
	margin: 0 auto 1em auto;
	text-align: left;
}

#min_price_output, #max_price_output{
	width: 4em;
	font-family: 'Amaranth', sans-serif;
}

.priceSubtitle{
	font-family: 'Amaranth', sans-serif;
	margin: -2.5em 0 0.5em 0;
}

.priceBox{
	margin-top: 0;
}